<div class="container">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <div class="row justify-content-center">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.full_description %>
          <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}  %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)%>
</div>